aside{
    border-style: solid; /*Crea un borde a "p"*/
    border-width: 10px; /*aumenta el grosor de la lia que encierra "p"*/
    border-color: white; /*cambia de color el borde*/
    border-radius: 10px; /* hace curvas las esquinas*/
    width: 30%;
    height: 300px;
    display:inline-block;
    vertical-align: top;
    color: whitesmoke;
}
section{
    border-style: solid; /*Crea un borde a "p"*/
    border-width: 10px; /*aumenta el grosor de la lia que encierra "p"*/
    border-color: white; /*cambia de color el borde*/
    border-radius: 10px; /* hace curvas las esquinas*/
    width: 70%;
    height: 300px;
    display: inline-block;
    vertical-align: top;
    border: width border-style color;
}
h2
{
     border-style: solid; /*Crea un borde a "p"*/
    border-width: 10px; /*aumenta el grosor de la lia que encierra "p"*/
    border-color: whitesmoke; /*cambia de color el borde*/
    border-radius: 10px; /* hace curvas las esquinas*/
    font-family: Freestyle Script;
    font-size: 100px;
    color: whitesmoke;
    text-align:  center;
}
a
{
    color: whitesmoke;
}
center
{
    border-style: solid; /*Crea un borde a "p"*/
    border-width: 10px; /*aumenta el grosor de la lia que encierra "p"*/
    border-color: whitesmoke; /*cambia de color el borde*/
    border-radius: 10px; /* hace curvas las esquinas*/
}
ol
{
    color: whitesmoke;
}
footer{
    font-family: 'Times New Roman', Times, serif;
    color: whitesmoke;
    text-align: center;
    
}